@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=vietnamese');

* {
    font-family:'Montserrat',sans-serif;line-height:1.8;;
}

body {
    color: #505050
}

.my-btn-primary {
    background-color:#ff8300;color:white;
}

.my-btn-primary:hover {
    background-color: #e47a0a;
    color: white;
}

.my-btn-blue {
    background-color: #0057a1;
    color:white;
}

.my-btn-blue:hover {
    background-color: #003B6E;
    color: white;
}