---
    apiVersion: v1
    kind: Service
    metadata:
      name: wnc-service
    spec:
      type: LoadBalancer
      ports:
      - name: http
        port: 80
        targetPort: 5000
      selector:
          name: wnc-app